.banner {
    height: 300px;
    width: 600px;
    overflow: hidden;
    border: solid black;
    position: relative;
    clear: both;
    margin-left: 60px;
    

}

.banner_menu{
    width: 400%;
    display: flex;
   padding: 0;
   margin: 0;
   animation: cambio 20s infinite alternate linear;
}

.banner_img{
    
    width: 600px;
    height: 300px;

    
   
}

.banner_item{
padding: 0;
list-style: none;
}


@keyframes cambio {

    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left:-100%}
    45% {margin-left:-100%}

    50% {margin-left:-200%}
    70% {margin-left:-200%}

    75% {margin-left:-300%}
    100% {margin-left:-300%}

}


