footer {
     background: black;
     color: red;
     font-size: 30px;
     text-align: center; 
     height: 120px;  
    }



.social li{
     list-style: none;
     font-size: 40px;
     display: inline-flex;
     cursor: pointer;
}