.aside { 
    width: 30%;
    float: right;
    top: -1400px;
    position: relative;
    text-align: center;
    
   
}

.img_aside{

    width: 80%;
    
}

footer{
    clear: both;
}

@media (max-width: 570px) {

    .aside{
        float:left;
        position: static;
    }

}


@media (max-width: 970px) {

    .aside{
        float:left;
        position: static;
    }

}